dsol-processing/cstore/gs4/libdata/mstar/bpc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema created by C. L. Moore (c) ProQuest 2013-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!--Main document structure-->
	<xs:simpleType name="notempty">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="..*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="document">
		<xs:complexType>
			<xs:all>
				<xs:element ref="record"/>
				<xs:element ref="pagezones"/>
				<xs:element ref="bodytext"/>
			</xs:all>
			<xs:attribute name="delbatch" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="record">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="journal"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<!--Record structure-->
	<xs:element name="journal">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="journalid"/>
				<xs:element ref="docid"/>
				<xs:element ref="supplement" minOccurs="0"/>
				<xs:element ref="sectionheads" minOccurs="0"/>
				<xs:element ref="title"/>
				<xs:element ref="subhead" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="doctypes"/>
				<xs:element ref="imagefeatures" minOccurs="0"/>
				<xs:element ref="contributors" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="series" minOccurs="0"/>
				<xs:element ref="volume" minOccurs="0"/>
				<xs:element ref="issue" minOccurs="0"/>
				<xs:element ref="pubdates"/>
				<xs:element ref="vendor"/>
				<xs:element ref="sourceinstitution"/>
				<xs:element ref="languages"/>
				<xs:group ref="cobrand" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="abstract" minOccurs="0"/>
				<xs:element ref="scantype"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--Elements for record parent-->
	<xs:element name="journalid">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="BPC000001"/>
				<xs:enumeration value="BPC000002"/>
				<xs:enumeration value="BPC000003"/>
				<xs:enumeration value="BPC000004"/>
				<xs:enumeration value="BPC000005"/>
				<xs:enumeration value="BPC000006"/>
				<xs:enumeration value="BPC000007"/>
				<!--This will change from project to project-->
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="docid" type="notempty"/>
	<xs:element name="supplement" type="notempty"/>
	<xs:element name="sectionheads">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="section1" minOccurs="0"/>
				<xs:element ref="section2" minOccurs="0"/>
				<xs:element ref="section3" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="section1" type="notempty"/>
	<xs:element name="section2" type="notempty"/>
	<xs:element name="section3" type="notempty"/>
	<xs:element name="title" type="notempty"/>
	<xs:element name="subhead" type="xs:string"/>
	<xs:element name="doctypes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="doctype1"/>
				<xs:element ref="doctype2" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="doctype1" type="bptypes"/>
	<xs:element name="doctype2" type="bptypes"/>
	<xs:simpleType name="bptypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Advertisement"/>
			<xs:enumeration value="Article"/>
			<xs:enumeration value="Back Matter"/>
			<xs:enumeration value="Covers"/>
			<xs:enumeration value="Drama"/>
			<xs:enumeration value="Fiction/Narrative"/>
			<xs:enumeration value="Front Matter"/>
			<xs:enumeration value="Graphic"/>
			<xs:enumeration value="Letter"/>
			<xs:enumeration value="Obituary"/>
			<xs:enumeration value="Other"/>
			<xs:enumeration value="Poem"/>
			<xs:enumeration value="Recipe"/>
			<xs:enumeration value="Review"/>
			<xs:enumeration value="Table Of Contents"/>
		</xs:restriction>
		<!--This will change from project to project-->
	</xs:simpleType>
	<xs:element name="imagefeatures">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="feature" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="feature" type="bpimagetypes"/>
	<xs:simpleType name="bpimagetypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Cartoons"/>
			<xs:enumeration value="Comic strips"/>
			<xs:enumeration value="Maps"/>
			<xs:enumeration value="Illustrations"/>
			<xs:enumeration value="Photographs"/>
			<xs:enumeration value="Music"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="contributors">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="contributor" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="contributor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="originalform"/>
				<xs:element ref="standardform"/>
			</xs:sequence>
			<xs:attribute name="role" type="contribroles"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="contribroles">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CoAuth"/>
			<xs:enumeration value="ReviewAuth"/>
			<xs:enumeration value="Collaborator"/>
			<xs:enumeration value="Music"/>
			<xs:enumeration value="RevItemAuth"/>
			<xs:enumeration value="Author"/>
			<xs:enumeration value="CorpAuthor"/>
			<xs:enumeration value="Editor"/>
			<xs:enumeration value="CorrespAuthor"/>
			<xs:enumeration value="Interviewer"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="originalform" type="notempty"/>
	<xs:element name="standardform" type="notempty"/>
	<xs:element name="series"/>
	<xs:element name="volume" type="notempty"/>
	<xs:element name="issue" type="notempty"/>
	<xs:element name="pubdates">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="originaldate"/>
				<xs:element ref="numdate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="originaldate" type="notempty"/>
	<xs:element name="numdate" type="xs:date"/>
	<xs:element name="vendor" type="notempty"/>
	<xs:element name="sourceinstitution" type="notempty"/>
	<xs:element name="languages">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="language"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="language">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="English"/>
				<xs:enumeration value="French"/>
				<xs:enumeration value="German"/>
				<xs:enumeration value="Spanish"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:group name="cobrand">
		<xs:sequence>
			<xs:element ref="company" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="product" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>
	<xs:element name="company" type="notempty"/>
	<xs:element name="product" type="notempty"/>
	<xs:element name="abstract" type="notempty"/>
	<xs:element name="scantype">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="scansource"/>
				<xs:element ref="sourceid" maxOccurs="unbounded"/>
				<xs:element ref="colourdepth"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="scansource">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="hardcopy"/>
				<xs:enumeration value="microfilm"/>
				<xs:enumeration value="digitalfile"/>
				<xs:enumeration value="mixed"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="sourceid" type="notempty"/>
	<xs:element name="colourdepth">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="GS"/>
				<xs:enumeration value="CL"/>
				<xs:enumeration value="BW"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!--Zoning structure-->
	<xs:element name="pagezones">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="zone" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--Elements for zoning structure-->
	<xs:element name="zone">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="page_ref"/>
				<xs:element ref="zone_location"/>
				<xs:element ref="content" minOccurs="0"/>
				<xs:element ref="feature_details" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="header"/>
						<xs:enumeration value="text"/>
						<xs:enumeration value="feature"/>
						<xs:enumeration value="caption"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="sequence" use="required"/>
		</xs:complexType>
	</xs:element>
	<!--Elements for zone parent-->
	<xs:element name="page_ref">
		<xs:complexType mixed="true">
			<xs:attribute name="layout" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="r"/>
						<xs:enumeration value="v"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="zone_location">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="zonecoords"/>
				<xs:element ref="display_pagenumber"/>
				<xs:element ref="page_sequence"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="content">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="word" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="feature_details">
		<xs:annotation>
			<xs:documentation>This field is compulsory for all zones with type "feature"</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="category"/>
				<xs:element ref="caption" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="credit" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--Elements for zone location parent-->
	<xs:element name="zonecoords">
		<xs:complexType>
			<xs:attribute name="uly" type="xs:integer" use="required"/>
			<xs:attribute name="ulx" type="xs:integer" use="required"/>
			<xs:attribute name="lry" type="xs:integer" use="required"/>
			<xs:attribute name="lrx" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="display_pagenumber" type="notempty"/>
	<xs:element name="page_sequence" type="xs:integer"/>
	<!--Elements for content parent-->
	<xs:element name="word">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="notempty">
					<xs:attribute name="uly" type="xs:integer" use="required"/>
					<xs:attribute name="ulx" type="xs:integer" use="required"/>
					<xs:attribute name="lry" type="xs:integer" use="required"/>
					<xs:attribute name="lrx" type="xs:integer" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<!--Elements for image_details parent-->
	<xs:element name="category" type="bpimagetypes"/>
	<xs:element name="caption" type="notempty"/>
	<xs:element name="credit" type="notempty"/>
	<!--Body structure-->
	<xs:element name="bodytext">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="pandtables" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--Elements for bodytext parent-->
	<xs:group name="pandtables">
		<xs:choice>
			<xs:element ref="p"/>
			<xs:element ref="table"/>
		</xs:choice>
	</xs:group>
	<xs:element name="p"/>
	<xs:element name="table">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tr" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="border" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="tr">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="th" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="td" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="align" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="th">
		<xs:complexType mixed="true">
			<xs:attribute ref="align"/>
			<xs:attribute ref="valign"/>
			<xs:attribute name="colspan" use="optional"/>
			<xs:attribute name="rowspan" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="td">
		<xs:complexType mixed="true">
			<xs:attribute ref="align"/>
			<xs:attribute ref="valign"/>
			<xs:attribute name="colspan" use="optional"/>
			<xs:attribute name="rowspan" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:attribute name="align">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="left"/>
				<xs:enumeration value="center"/>
				<xs:enumeration value="right"/>
				<xs:enumeration value="justify"/>
				<xs:enumeration value="char"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="valign">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="top"/>
				<xs:enumeration value="middle"/>
				<xs:enumeration value="bottom"/>
				<xs:enumeration value="baseline"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
</xs:schema>
