dsol-processing/libdata/mstar/leviathanschemas/leviathan_v4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema created by C. L. Moore (c) ProQuest 2013-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!--Main document structure-->
	<xs:simpleType name="notempty">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="..*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="document">
		<xs:complexType>
			<xs:all>
				<xs:element ref="record"/>
				<xs:element ref="pagezones" minOccurs="0"/>
				<xs:element ref="bodytext" minOccurs="0"/>
			</xs:all>
			<xs:attribute name="delbatch" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="record">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="journal"/>
				<xs:element ref="film"/>
				<xs:element ref="booksection"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<!--Record structure-->
	<xs:element name="journal">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="journalid"/>
				<xs:element ref="srcid" minOccurs="0"/>
				<xs:element ref="docid"/>
				<xs:element ref="accnum" minOccurs="0"/>
				<xs:element ref="supplement" minOccurs="0"/>
				<xs:element ref="country_of_publication" minOccurs="0"/>
				<xs:element ref="print_issn" minOccurs="0"/>
				<xs:element ref="sectionheads" minOccurs="0"/>
				<xs:element ref="title"/>
				<xs:element ref="alternate_title" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="subhead" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="doctypes"/>
				<xs:element ref="docfeatures" minOccurs="0"/>
				<xs:element ref="imagefeatures" minOccurs="0"/>
				<xs:element ref="contributors" minOccurs="0"/>
				<xs:element ref="subjects" minOccurs="0"/>
				<xs:element ref="productions" minOccurs="0"/>
				<xs:element ref="series" minOccurs="0"/>
				<xs:element ref="volume" minOccurs="0"/>
				<xs:element ref="issue" minOccurs="0"/>
				<xs:element ref="pubdates"/>
				<xs:element ref="pagination" minOccurs="0"/>
				<xs:element ref="vendor"/>
				<xs:element ref="sourceinstitution"/>
				<xs:element ref="projectcode" minOccurs="0"/>
				<xs:element ref="languages"/>
				<xs:group ref="cobrand" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="abstract" minOccurs="0"/>
				<xs:element ref="scantype" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="film">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="srcid" minOccurs="0"/>
				<xs:element ref="docid"/>
				<xs:element ref="accnum" minOccurs="0"/>
				<xs:element ref="supplement" minOccurs="0"/>
				<xs:element ref="country_of_production" minOccurs="0"/>
				<xs:element ref="title"/>
				<xs:element ref="alternate_title" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="doctypes"/>
				<xs:element ref="docfeatures" minOccurs="0"/>
				<xs:element ref="contributors" minOccurs="0"/>
				<xs:element ref="subjects" minOccurs="0"/>
				<xs:element ref="productions" minOccurs="0"/>
				<xs:element ref="pubdates"/>
				<xs:element ref="vendor"/>
				<xs:element ref="sourceinstitution"/>
				<xs:element ref="projectcode" minOccurs="0"/>
				<xs:element ref="languages"/>
				<xs:element ref="abstract" minOccurs="0"/>
				<xs:element ref="notes" minOccurs="0"/>
				<xs:element ref="object_citations" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="booksection">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="docid"/>
				<xs:element ref="supplement" minOccurs="0"/>
				<xs:element ref="country_of_publication" minOccurs="0"/>
				<xs:element ref="print_issn" minOccurs="0"/>
				<xs:element ref="sectionheads" minOccurs="0"/>
				<xs:element ref="work_title" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="title"/>
				<xs:element ref="alternate_title" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="subhead" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="doctypes"/>
				<xs:element ref="docfeatures" minOccurs="0"/>
				<xs:element ref="imagefeatures" minOccurs="0"/>
				<xs:element ref="contributors" minOccurs="0"/>
				<xs:element ref="pubdates"/>
				<xs:element ref="publisherinfo" minOccurs="0"/>
				<xs:element ref="vendor"/>
				<xs:element ref="sourceinstitution"/>
				<xs:element ref="projectcode" minOccurs="0"/>
				<xs:element ref="languages"/>
				<xs:element ref="abstract" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--Elements for record parent-->
	<xs:element name="journalid" type="jids"/>
	<xs:simpleType name="jids">
		<xs:restriction base="xs:string">
			<xs:enumeration value="WWD001"/>
			<xs:enumeration value="BPC000001"/>
			<xs:enumeration value="BPC000002"/>
			<xs:enumeration value="BPC000003"/>
			<xs:enumeration value="BPC000004"/>
			<xs:enumeration value="BPC000005"/>
			<xs:enumeration value="BPC000006"/>
			<xs:enumeration value="BPC000007"/>
			<xs:enumeration value="BPD000001"/>
			<xs:enumeration value="BPD000002"/>
			<xs:enumeration value="BPD000003"/>
			<xs:enumeration value="BPD000004"/>
			<xs:enumeration value="BPD000005"/>
			<xs:enumeration value="BPD000006"/>
			<xs:enumeration value="BPD000007"/>
			<xs:enumeration value="HBA000001"/>
			<xs:enumeration value="WMA000001"/>
			<xs:enumeration value="WMA000002"/>
			<xs:enumeration value="WMA000003"/>
			<xs:enumeration value="WMA000004"/>
			<xs:enumeration value="WMA000005"/>
			<xs:enumeration value="WMA000006"/>
			<xs:enumeration value="WMA000007"/>
			<xs:enumeration value="WMA000008"/>
			<xs:enumeration value="WMA000009"/>
			<xs:enumeration value="WMA000010"/>
			<xs:enumeration value="006/0000001"/>
			<xs:enumeration value="006/0000002"/>
			<xs:enumeration value="006/0000003"/>
			<xs:enumeration value="006/0000004"/>
			<xs:enumeration value="006/0000005"/>
			<xs:enumeration value="006/0000006"/>
			<xs:enumeration value="006/0000007"/>
			<xs:enumeration value="006/0000008"/>
			<xs:enumeration value="006/0000009"/>
			<xs:enumeration value="006/0000010"/>
			<xs:enumeration value="006/0000011"/>
			<xs:enumeration value="006/0000012"/>
			<xs:enumeration value="006/0000013"/>
			<xs:enumeration value="006/0000014"/>
			<xs:enumeration value="006/0000015"/>
			<xs:enumeration value="006/0000016"/>
			<xs:enumeration value="006/0000017"/>
			<xs:enumeration value="006/0000018"/>
			<xs:enumeration value="006/0000019"/>
			<xs:enumeration value="006/0000020"/>
			<xs:enumeration value="006/0000021"/>
			<xs:enumeration value="006/0000022"/>
			<xs:enumeration value="006/0000024"/>
			<xs:enumeration value="006/0000026"/>
			<xs:enumeration value="006/0000027"/>
			<xs:enumeration value="006/0000029"/>
			<xs:enumeration value="006/0000030"/>
			<xs:enumeration value="006/0000032"/>
			<xs:enumeration value="006/0000033"/>
			<xs:enumeration value="006/0000034"/>
			<xs:enumeration value="006/0000036"/>
			<xs:enumeration value="006/0000037"/>
			<xs:enumeration value="006/0000038"/>
			<xs:enumeration value="006/0000039"/>
			<xs:enumeration value="006/0000040"/>
			<xs:enumeration value="006/0000041"/>
			<xs:enumeration value="006/0000042"/>
			<xs:enumeration value="006/0000043"/>
			<xs:enumeration value="006/0000044"/>
			<xs:enumeration value="006/0000045"/>
			<xs:enumeration value="006/0000046"/>
			<xs:enumeration value="006/0000047"/>
			<xs:enumeration value="006/0000048"/>
			<xs:enumeration value="006/0000049"/>
			<xs:enumeration value="006/0000051"/>
			<xs:enumeration value="006/0000052"/>
			<xs:enumeration value="006/0000053"/>
			<xs:enumeration value="006/0000054"/>
			<xs:enumeration value="006/0000055"/>
			<xs:enumeration value="006/0000056"/>
			<xs:enumeration value="006/0000057"/>
			<xs:enumeration value="006/0000059"/>
			<xs:enumeration value="006/0000060"/>
			<xs:enumeration value="006/0000061"/>
			<xs:enumeration value="006/0000062"/>
			<xs:enumeration value="006/0000063"/>
			<xs:enumeration value="006/0000064"/>
			<xs:enumeration value="006/0000065"/>
			<xs:enumeration value="006/0000066"/>
			<xs:enumeration value="006/0000067"/>
			<xs:enumeration value="006/0000068"/>
			<xs:enumeration value="006/0000069"/>
			<xs:enumeration value="006/0000071"/>
			<xs:enumeration value="006/0000072"/>
			<xs:enumeration value="006/0000073"/>
			<xs:enumeration value="006/0000074"/>
			<xs:enumeration value="006/0000075"/>
			<xs:enumeration value="006/0000076"/>
			<xs:enumeration value="006/0000079"/>
			<xs:enumeration value="006/0000080"/>
			<xs:enumeration value="006/0000081"/>
			<xs:enumeration value="006/0000082"/>
			<xs:enumeration value="006/0000083"/>
			<xs:enumeration value="006/0000084"/>
			<xs:enumeration value="006/0000085"/>
			<xs:enumeration value="006/0000087"/>
			<xs:enumeration value="006/0000088"/>
			<xs:enumeration value="006/0000089"/>
			<xs:enumeration value="006/0000090"/>
			<xs:enumeration value="006/0000091"/>
			<xs:enumeration value="006/0000092"/>
			<xs:enumeration value="006/0000093"/>
			<xs:enumeration value="006/0000094"/>
			<xs:enumeration value="006/0000095"/>
			<xs:enumeration value="006/0000096"/>
			<xs:enumeration value="006/0000097"/>
			<xs:enumeration value="006/0000099"/>
			<xs:enumeration value="006/0000100"/>
			<xs:enumeration value="006/0000101"/>
			<xs:enumeration value="006/0000102"/>
			<xs:enumeration value="006/0000103"/>
			<xs:enumeration value="006/0000104"/>
			<xs:enumeration value="006/0000105"/>
			<xs:enumeration value="006/0000106"/>
			<xs:enumeration value="006/0000107"/>
			<xs:enumeration value="006/0000108"/>
			<xs:enumeration value="006/0000109"/>
			<xs:enumeration value="006/0000110"/>
			<xs:enumeration value="006/0000111"/>
			<xs:enumeration value="006/0000112"/>
			<xs:enumeration value="006/0000113"/>
			<xs:enumeration value="006/0000114"/>
			<xs:enumeration value="006/0000115"/>
			<xs:enumeration value="006/0000117"/>
			<xs:enumeration value="006/0000118"/>
			<xs:enumeration value="006/0000119"/>
			<xs:enumeration value="006/0000121"/>
			<xs:enumeration value="006/0000122"/>
			<xs:enumeration value="006/0000123"/>
			<xs:enumeration value="006/0000124"/>
			<xs:enumeration value="006/0000125"/>
			<xs:enumeration value="006/0000126"/>
			<xs:enumeration value="006/0000127"/>
			<xs:enumeration value="006/0000128"/>
			<xs:enumeration value="006/0000129"/>
			<xs:enumeration value="006/0000130"/>
			<xs:enumeration value="006/0000131"/>
			<xs:enumeration value="006/0000132"/>
			<xs:enumeration value="006/0000133"/>
			<xs:enumeration value="006/0000134"/>
			<xs:enumeration value="006/0000135"/>
			<xs:enumeration value="006/0000136"/>
			<xs:enumeration value="006/0000137"/>
			<xs:enumeration value="006/0000138"/>
			<xs:enumeration value="006/0000139"/>
			<xs:enumeration value="006/0000140"/>
			<xs:enumeration value="006/0000141"/>
			<xs:enumeration value="006/0000142"/>
			<xs:enumeration value="006/0000143"/>
			<xs:enumeration value="006/0000144"/>
			<xs:enumeration value="006/0000145"/>
			<xs:enumeration value="006/0000146"/>
			<xs:enumeration value="006/0000147"/>
			<xs:enumeration value="006/0000148"/>
			<xs:enumeration value="006/0000149"/>
			<xs:enumeration value="006/0000150"/>
			<xs:enumeration value="006/0000151"/>
			<xs:enumeration value="006/0000152"/>
			<xs:enumeration value="006/0000153"/>
			<xs:enumeration value="006/0000154"/>
			<xs:enumeration value="006/0000155"/>
			<xs:enumeration value="006/0000156"/>
			<xs:enumeration value="006/0000158"/>
			<xs:enumeration value="006/0000159"/>
			<xs:enumeration value="006/0000160"/>
			<xs:enumeration value="006/0000161"/>
			<xs:enumeration value="006/0000162"/>
			<xs:enumeration value="006/0000163"/>
			<xs:enumeration value="006/0000164"/>
			<xs:enumeration value="006/0000165"/>
			<xs:enumeration value="006/0000166"/>
			<xs:enumeration value="006/0000168"/>
			<xs:enumeration value="006/0000169"/>
			<xs:enumeration value="006/0000170"/>
			<xs:enumeration value="006/0000171"/>
			<xs:enumeration value="006/0000172"/>
			<xs:enumeration value="006/0000173"/>
			<xs:enumeration value="006/0000174"/>
			<xs:enumeration value="006/0000175"/>
			<xs:enumeration value="006/0000176"/>
			<xs:enumeration value="006/0000177"/>
			<xs:enumeration value="006/0000178"/>
			<xs:enumeration value="006/0000179"/>
			<xs:enumeration value="006/0000180"/>
			<xs:enumeration value="006/0000182"/>
			<xs:enumeration value="006/0000184"/>
			<xs:enumeration value="006/0000185"/>
			<xs:enumeration value="006/0000186"/>
			<xs:enumeration value="006/0000187"/>
			<xs:enumeration value="006/0000188"/>
			<xs:enumeration value="006/0000189"/>
			<xs:enumeration value="006/0000190"/>
			<xs:enumeration value="006/0000191"/>
			<xs:enumeration value="006/0000192"/>
			<xs:enumeration value="006/0000193"/>
			<xs:enumeration value="006/0000194"/>
			<xs:enumeration value="006/0000195"/>
			<xs:enumeration value="006/0000196"/>
			<xs:enumeration value="006/0000197"/>
			<xs:enumeration value="006/0000199"/>
			<xs:enumeration value="006/0000200"/>
			<xs:enumeration value="006/0000201"/>
			<xs:enumeration value="006/0000202"/>
			<xs:enumeration value="006/0000204"/>
			<xs:enumeration value="006/0000205"/>
			<xs:enumeration value="006/0000206"/>
			<xs:enumeration value="006/0000208"/>
			<xs:enumeration value="006/0000209"/>
			<xs:enumeration value="006/0000210"/>
			<xs:enumeration value="006/0000211"/>
			<xs:enumeration value="006/0000212"/>
			<xs:enumeration value="006/0000213"/>
			<xs:enumeration value="006/0000214"/>
			<xs:enumeration value="006/0000215"/>
			<xs:enumeration value="006/0000216"/>
			<xs:enumeration value="006/0000217"/>
			<xs:enumeration value="006/0000218"/>
			<xs:enumeration value="006/0000219"/>
			<xs:enumeration value="006/0000220"/>
			<xs:enumeration value="006/0000221"/>
			<xs:enumeration value="006/0000222"/>
			<xs:enumeration value="006/0000223"/>
			<xs:enumeration value="006/0000224"/>
			<xs:enumeration value="006/0000225"/>
			<xs:enumeration value="006/0000226"/>
			<xs:enumeration value="006/0000227"/>
			<xs:enumeration value="006/0000228"/>
			<xs:enumeration value="006/0000229"/>
			<xs:enumeration value="006/0000230"/>
			<xs:enumeration value="006/0000231"/>
			<xs:enumeration value="006/0000232"/>
			<xs:enumeration value="006/0000233"/>
			<xs:enumeration value="006/0000235"/>
			<xs:enumeration value="006/0000236"/>
			<xs:enumeration value="006/0000237"/>
			<xs:enumeration value="006/0000239"/>
			<xs:enumeration value="006/0000240"/>
			<xs:enumeration value="006/0000242"/>
			<xs:enumeration value="006/0000243"/>
			<xs:enumeration value="006/0000244"/>
			<xs:enumeration value="006/0000245"/>
			<xs:enumeration value="006/0000246"/>
			<xs:enumeration value="006/0000247"/>
			<xs:enumeration value="006/0000248"/>
			<xs:enumeration value="006/0000249"/>
			<xs:enumeration value="006/0000250"/>
			<xs:enumeration value="006/0000252"/>
			<xs:enumeration value="006/0000253"/>
			<xs:enumeration value="006/0000254"/>
			<xs:enumeration value="006/0000255"/>
			<xs:enumeration value="006/0000257"/>
			<xs:enumeration value="006/0000258"/>
			<xs:enumeration value="006/0000259"/>
			<xs:enumeration value="006/0000260"/>
			<xs:enumeration value="006/0000261"/>
			<xs:enumeration value="006/0000262"/>
			<xs:enumeration value="006/0000263"/>
			<xs:enumeration value="006/0000264"/>
			<xs:enumeration value="006/0000265"/>
			<xs:enumeration value="006/0000266"/>
			<xs:enumeration value="006/0000267"/>
			<xs:enumeration value="006/0000268"/>
			<xs:enumeration value="006/0000269"/>
			<xs:enumeration value="006/0000271"/>
			<xs:enumeration value="006/0000272"/>
			<xs:enumeration value="006/0000273"/>
			<xs:enumeration value="006/0000276"/>
			<xs:enumeration value="006/0000277"/>
			<xs:enumeration value="006/0000278"/>
			<xs:enumeration value="006/0000279"/>
			<xs:enumeration value="006/0000280"/>
			<xs:enumeration value="006/0000281"/>
			<xs:enumeration value="006/0000282"/>
			<xs:enumeration value="006/0000283"/>
			<xs:enumeration value="006/0000284"/>
			<xs:enumeration value="006/0000285"/>
			<xs:enumeration value="006/0000286"/>
			<xs:enumeration value="006/0000287"/>
			<xs:enumeration value="006/0000288"/>
			<xs:enumeration value="006/0000289"/>
			<xs:enumeration value="006/0000291"/>
			<xs:enumeration value="006/0000292"/>
			<xs:enumeration value="006/0000293"/>
			<xs:enumeration value="006/0000294"/>
			<xs:enumeration value="006/0000296"/>
			<xs:enumeration value="006/0000297"/>
			<xs:enumeration value="006/0000298"/>
			<xs:enumeration value="006/0000299"/>
			<xs:enumeration value="006/0000300"/>
			<xs:enumeration value="006/0000301"/>
			<xs:enumeration value="006/0000302"/>
			<xs:enumeration value="006/0000303"/>
			<xs:enumeration value="006/0000305"/>
			<xs:enumeration value="006/0000306"/>
			<xs:enumeration value="006/0000307"/>
			<xs:enumeration value="006/0000308"/>
			<xs:enumeration value="006/0000309"/>
			<xs:enumeration value="006/0000310"/>
			<xs:enumeration value="006/0000311"/>
			<xs:enumeration value="006/0000312"/>
			<xs:enumeration value="006/0000313"/>
			<xs:enumeration value="006/0000314"/>
			<xs:enumeration value="006/0000315"/>
			<xs:enumeration value="006/0000316"/>
			<xs:enumeration value="006/0000317"/>
			<xs:enumeration value="006/0000318"/>
			<xs:enumeration value="006/0000319"/>
			<xs:enumeration value="006/0000320"/>
			<xs:enumeration value="006/0000321"/>
			<xs:enumeration value="006/0000322"/>
			<xs:enumeration value="006/0000323"/>
			<xs:enumeration value="006/0000324"/>
			<xs:enumeration value="006/0000326"/>
			<xs:enumeration value="006/0000327"/>
			<xs:enumeration value="006/0000328"/>
			<xs:enumeration value="006/0000329"/>
			<xs:enumeration value="006/0000330"/>
			<xs:enumeration value="006/0000331"/>
			<xs:enumeration value="006/0000332"/>
			<xs:enumeration value="006/0000333"/>
			<xs:enumeration value="006/0000334"/>
			<xs:enumeration value="006/0000336"/>
			<xs:enumeration value="006/0000337"/>
			<xs:enumeration value="006/0000338"/>
			<xs:enumeration value="006/0000339"/>
			<xs:enumeration value="006/0000340"/>
			<xs:enumeration value="006/0000341"/>
			<xs:enumeration value="006/0000342"/>
			<xs:enumeration value="006/0000343"/>
			<xs:enumeration value="006/0000344"/>
			<xs:enumeration value="006/0000345"/>
			<xs:enumeration value="006/0000346"/>
			<xs:enumeration value="006/0000348"/>
			<xs:enumeration value="006/0000349"/>
			<xs:enumeration value="006/0000350"/>
			<xs:enumeration value="006/0000351"/>
			<xs:enumeration value="006/0000352"/>
			<xs:enumeration value="006/0000353"/>
			<xs:enumeration value="006/0000354"/>
			<xs:enumeration value="006/0000355"/>
			<xs:enumeration value="006/0000356"/>
			<xs:enumeration value="006/0000357"/>
			<xs:enumeration value="006/0000358"/>
			<xs:enumeration value="006/0000359"/>
			<xs:enumeration value="006/0000360"/>
			<xs:enumeration value="006/0000361"/>
			<xs:enumeration value="006/0000362"/>
			<xs:enumeration value="006/0000363"/>
			<xs:enumeration value="006/0000364"/>
			<xs:enumeration value="006/0000365"/>
			<xs:enumeration value="006/0000366"/>
			<xs:enumeration value="006/0000367"/>
			<xs:enumeration value="006/0000368"/>
			<xs:enumeration value="006/0000369"/>
			<xs:enumeration value="006/0000370"/>
			<xs:enumeration value="006/0000371"/>
			<xs:enumeration value="006/0000372"/>
			<xs:enumeration value="006/0000373"/>
			<xs:enumeration value="006/0000374"/>
			<xs:enumeration value="006/0000375"/>
			<xs:enumeration value="006/0000376"/>
			<xs:enumeration value="006/0000377"/>
			<xs:enumeration value="006/0000378"/>
			<xs:enumeration value="006/0000379"/>
			<xs:enumeration value="006/0000380"/>
			<xs:enumeration value="006/0000381"/>
			<xs:enumeration value="006/0000382"/>
			<xs:enumeration value="006/0000383"/>
			<xs:enumeration value="006/0000384"/>
			<xs:enumeration value="006/0000386"/>
			<xs:enumeration value="006/0000387"/>
			<xs:enumeration value="006/0000388"/>
			<xs:enumeration value="006/0000389"/>
			<xs:enumeration value="006/0000390"/>
			<xs:enumeration value="006/0000391"/>
			<xs:enumeration value="006/0000392"/>
			<xs:enumeration value="006/0000290"/>
			<xs:enumeration value="006/0000023"/>
			<xs:enumeration value="006/0000385"/>
			<xs:enumeration value="006/0000167"/>
			<xs:enumeration value="006/0000078"/>
			<xs:enumeration value="006/0000025"/>
			<xs:enumeration value="006/0000050"/>
			<xs:enumeration value="006/0000203"/>
			<xs:enumeration value="006/0000256"/>
			<xs:enumeration value="006/0000241"/>
			<xs:enumeration value="006/0000035"/>
			<xs:enumeration value="006/0000198"/>
			<xs:enumeration value="006/0000347"/>
			<xs:enumeration value="006/0000116"/>
			<xs:enumeration value="006/0000120"/>
			<xs:enumeration value="006/0000098"/>
			<xs:enumeration value="006/0000325"/>
			<xs:enumeration value="006/0000251"/>
			<xs:enumeration value="006/0000070"/>
			<xs:enumeration value="006/0000238"/>
			<xs:enumeration value="006/0000157"/>
			<xs:enumeration value="006/0000275"/>
			<!--This will change from project to project-->
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="srcid" type="notempty"/>
	<xs:element name="docid" type="notempty"/>
	<xs:element name="accnum" type="notempty"/>
	<xs:element name="supplement" type="notempty"/>
	<xs:element name="country_of_publication" type="notempty"/>
	<xs:element name="country_of_production" type="notempty"/>
	<xs:element name="print_issn" type="notempty"/>
	<xs:element name="sectionheads">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="section1" minOccurs="0"/>
				<xs:element ref="section2" minOccurs="0"/>
				<xs:element ref="section3" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="section1" type="notempty"/>
	<xs:element name="section2" type="notempty"/>
	<xs:element name="section3" type="notempty"/>
	<xs:element name="work_title" type="notempty"/>
	<xs:element name="title" type="notempty"/>
	<xs:element name="alternate_title" type="notempty"/>
	<xs:element name="subhead" type="notempty"/>
	<xs:element name="doctypes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="doctype1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="doctype1" type="doctypes"/>
	<xs:simpleType name="doctypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Accessories"/>
			<xs:enumeration value="Advertisement"/>
			<xs:enumeration value="Article"/>
			<xs:enumeration value="Arts and Culture"/>
			<xs:enumeration value="Back Matter"/>
			<xs:enumeration value="Beauty"/>
			<xs:enumeration value="Business"/>
			<xs:enumeration value="Cartoon"/>
			<xs:enumeration value="Comic"/>
			<xs:enumeration value="Correspondence"/>
			<xs:enumeration value="Covers"/>
			<xs:enumeration value="Drama"/>
			<xs:enumeration value="Eye"/>
			<xs:enumeration value="Fashion Shoot"/>
			<xs:enumeration value="Fashion"/>
			<xs:enumeration value="Fiction/Narrative"/>
			<xs:enumeration value="Front Matter"/>
			<xs:enumeration value="Front Page"/>
			<xs:enumeration value="Film"/>
			<xs:enumeration value="Graphic"/>
			<xs:enumeration value="Health and Fitness"/>
			<xs:enumeration value="Illustration"/>
			<xs:enumeration value="Interview"/>
			<xs:enumeration value="Letter"/>
			<xs:enumeration value="Media"/>
			<xs:enumeration value="Obituary"/>
			<xs:enumeration value="Other"/>
			<xs:enumeration value="Photograph"/>
			<xs:enumeration value="Poem"/>
			<xs:enumeration value="Recipe"/>
			<xs:enumeration value="Retail"/>
			<xs:enumeration value="Review"/>
			<xs:enumeration value="Runway"/>
			<xs:enumeration value="Statistics/Data Report"/>
			<xs:enumeration value="Table Of Contents"/>
			<xs:enumeration value="Undefined"/>
			<xs:enumeration value="Accessories"/>
			<xs:enumeration value="Book Extract(s)"/>
			<xs:enumeration value="Book Review"/>
			<xs:enumeration value="Book"/>
			<xs:enumeration value="Conference Report"/>
			<xs:enumeration value="Diary"/>
			<xs:enumeration value="Discussion"/>
			<xs:enumeration value="Dossier"/>
			<xs:enumeration value="Editorial"/>
			<xs:enumeration value="Festival Report"/>
			<xs:enumeration value="List"/>
			<xs:enumeration value="Photo Section"/>
			<xs:enumeration value="Preview"/>
			<xs:enumeration value="Production Report"/>
			<xs:enumeration value="Script"/>
			<xs:enumeration value="Short Review"/>
			<xs:enumeration value="Special Issue"/>
			<xs:enumeration value="Speech"/>
			<xs:enumeration value="Synopsis"/>
		</xs:restriction>
		<!--This will change from project to project-->
	</xs:simpleType>
	<xs:element name="docfeatures">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="docfeature" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="docfeature" type="docfeaturetypes"/>
	<xs:simpleType name="docfeaturetypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Bibliography"/>
			<xs:enumeration value="Bio-filmography"/>
			<xs:enumeration value="Credits"/>
			<xs:enumeration value="Credit(s)"/>
			<xs:enumeration value="Diagram(s)"/>
			<xs:enumeration value="Discography"/>
			<xs:enumeration value="Filmography"/>
			<xs:enumeration value="Illustration(s)"/>
			<xs:enumeration value="Statistics"/>
			<xs:enumeration value="Teleography"/>
			<xs:enumeration value="Theatrography"/>
			<xs:enumeration value="Videography"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="subjects">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="subject" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="subject">
		<xs:complexType mixed="true">
			<xs:attribute name="type" type="subtypes" use="required"/>
			<xs:attribute name="majortopic" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="subtypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="general"/>
			<xs:enumeration value="corporation"/>
			<xs:enumeration value="person"/>
			<xs:enumeration value="production"/>
			<xs:enumeration value="location"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="imagefeatures">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="feature" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="feature" type="featuretypes"/>
	<xs:simpleType name="featuretypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Cartoons"/>
			<xs:enumeration value="Comic strips"/>
			<xs:enumeration value="Comics"/>
			<xs:enumeration value="Diagrams"/>
			<xs:enumeration value="Graphs"/>
			<xs:enumeration value="Illustrations"/>
			<xs:enumeration value="Infographics"/>
			<xs:enumeration value="Maps"/>
			<xs:enumeration value="Music"/>
			<xs:enumeration value="Photographs"/>
			<xs:enumeration value="References"/>
			<xs:enumeration value="Tables"/>
		</xs:restriction>
		<!--This will change from project to project-->
	</xs:simpleType>
	<xs:element name="contributors">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="contributor" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="contributor">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="originalform"/>
					<xs:element ref="organisation_name"/>
					<xs:element ref="firstname" minOccurs="0"/>
				</xs:choice>
				<xs:element ref="lastname" minOccurs="0"/>
				<xs:element ref="standardform" minOccurs="0"/>
				<xs:element ref="altoriginalform" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="contribdesc_pre" minOccurs="0"/>
				<xs:element ref="contribdesc" minOccurs="0"/>
				<xs:element ref="contributor_notes" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="role" type="contribroles"/>
			<xs:attribute name="order" type="xs:integer"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="contribroles">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Author"/>
			<xs:enumeration value="CoAuth"/>
			<xs:enumeration value="Collaborator"/>
			<xs:enumeration value="Contributor"/>
			<xs:enumeration value="CorpAuthor"/>
			<xs:enumeration value="CorrespAuthor"/>
			<xs:enumeration value="Editor"/>
			<xs:enumeration value="Interviewer"/>
			<xs:enumeration value="Music"/>
			<xs:enumeration value="RevItemAuth"/>
			<xs:enumeration value="ReviewAuth"/>
			<xs:enumeration value="WellesleyAttribution"/>
			<xs:enumeration value="Director"/>
			<xs:enumeration value="Producer"/>
			<xs:enumeration value="Cast"/>
			<xs:enumeration value="Crew"/>
			<xs:enumeration value="ProductionCompany"/>
			<xs:enumeration value="PublicationEditor"/>
		</xs:restriction>
		<!--This will change from project to project-->
	</xs:simpleType>
	<xs:element name="originalform" type="notempty"/>
	<xs:element name="standardform" type="notempty"/>
	<xs:element name="altoriginalform" type="notempty"/>
	<xs:element name="organisation_name" type="notempty"/>
	<xs:element name="parent_organisation" type="notempty"/>
	<xs:element name="firstname" type="notempty"/>
	<xs:element name="lastname" type="notempty"/>
	<xs:element name="contribdesc_pre" type="notempty"/>
	<xs:element name="contribdesc" type="notempty"/>
	<xs:element name="contributor_notes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="production_role" minOccurs="0"/>
				<xs:element ref="parent_organisation" minOccurs="0"/>
				<xs:element ref="introductory_text" minOccurs="0"/>
				<xs:element ref="character_played" minOccurs="0"/>
				<xs:element ref="commentary_text" minOccurs="0"/>
				<xs:element ref="credit_note" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="production_role" type="notempty"/>
	<xs:element name="introductory_text" type="notempty"/>
	<xs:element name="commentary_text" type="notempty"/>
	<xs:element name="credit_note" type="notempty"/>
	<xs:element name="character_played" type="notempty"/>
	<xs:element name="series" type="notempty"/>
	<xs:element name="volume" type="notempty"/>
	<xs:element name="issue" type="notempty"/>
	<xs:element name="pubdates">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="originaldate"/>
				<xs:element ref="numdate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="originaldate" type="notempty"/>
	<xs:element name="numdate" type="notempty"/>
	<xs:element name="pagination" type="notempty"/>
	<xs:element name="productions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="production_details" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="production_details">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="premier_info" minOccurs="0"/>
				<xs:element ref="production_dates" minOccurs="0"/>
				<xs:element ref="duration" minOccurs="0"/>
				<xs:element ref="pca_cert" minOccurs="0"/>
				<xs:element ref="nbr" minOccurs="0"/>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="release_year" minOccurs="0"/>
				<xs:element ref="production_series" minOccurs="0"/>
				<xs:element ref="mpaa_cert" minOccurs="0"/>
				<xs:element ref="production_music" minOccurs="0"/>
				<xs:element ref="production_qualifiers" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="production_songs" minOccurs="0"/>
				<xs:element ref="source_text" minOccurs="0"/>
				<xs:element ref="production_copyright" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="production_genres" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="premier_info" type="notempty"/>
	<xs:element name="production_dates" type="notempty"/>
	<xs:element name="duration" type="notempty"/>
	<xs:element name="pca_cert" type="notempty"/>
	<xs:element name="nbr" type="notempty"/>
	<xs:element name="description" type="notempty"/>
	<xs:element name="release_year" type="notempty"/>
	<xs:element name="production_series" type="notempty"/>
	<xs:element name="mpaa_cert" type="notempty"/>
	<xs:element name="production_music" type="notempty"/>
	<xs:element name="production_qualifiers" type="notempty"/>
	<xs:element name="production_songs" type="notempty"/>
	<xs:element name="production_copyright" type="notempty"/>
	<xs:element name="source_text" type="notempty"/>
	<xs:element name="production_genres">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="genre" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="genre" type="notempty"/>
	<xs:element name="publisherinfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="publisher"/>
				<xs:element ref="publisher_address" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="publisher" type="notempty"/>
	<xs:element name="publisher_address" type="notempty"/>
	<xs:element name="vendor" type="notempty"/>
	<xs:element name="sourceinstitution" type="notempty"/>
	<xs:element name="projectcode" type="notempty"/>
	<xs:element name="languages">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="language" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="language">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Afrikaans"/>
				<xs:enumeration value="Akan"/>
				<xs:enumeration value="Akka"/>
				<xs:enumeration value="Albanian"/>
				<xs:enumeration value="Arabic"/>
				<xs:enumeration value="Armenian"/>
				<xs:enumeration value="Bulgarian"/>
				<xs:enumeration value="Burmese"/>
				<xs:enumeration value="Cantonese"/>
				<xs:enumeration value="Cebuano"/>
				<xs:enumeration value="Cheyenne"/>
				<xs:enumeration value="Croatian"/>
				<xs:enumeration value="Crow"/>
				<xs:enumeration value="Czech"/>
				<xs:enumeration value="Danish"/>
				<xs:enumeration value="Dari"/>
				<xs:enumeration value="Dhivehi"/>
				<xs:enumeration value="Dutch"/>
				<xs:enumeration value="English"/>
				<xs:enumeration value="Farsi"/>
				<xs:enumeration value="Finnish"/>
				<xs:enumeration value="French"/>
				<xs:enumeration value="Georgian"/>
				<xs:enumeration value="German"/>
				<xs:enumeration value="Gujarati"/>
				<xs:enumeration value="Hebrew"/>
				<xs:enumeration value="Hindi"/>
				<xs:enumeration value="Hungarian"/>
				<xs:enumeration value="Inupiaq"/>
				<xs:enumeration value="Italian"/>
				<xs:enumeration value="Japanese"/>
				<xs:enumeration value="Kaqkchiquel"/>
				<xs:enumeration value="Kinyarwanda"/>
				<xs:enumeration value="Korean"/>
				<xs:enumeration value="Lithuania"/>
				<xs:enumeration value="Mandarin"/>
				<xs:enumeration value="Norwegian"/>
				<xs:enumeration value="Pashto"/>
				<xs:enumeration value="Persian"/>
				<xs:enumeration value="Polish"/>
				<xs:enumeration value="Portuguese"/>
				<xs:enumeration value="Romanian"/>
				<xs:enumeration value="Russian"/>
				<xs:enumeration value="Sango"/>
				<xs:enumeration value="Slovenian"/>
				<xs:enumeration value="Spanish"/>
				<xs:enumeration value="Swedish"/>
				<xs:enumeration value="Tagalog"/>
				<xs:enumeration value="Thai"/>
				<xs:enumeration value="Tibetan"/>
				<xs:enumeration value="Tok Pisin"/>
				<xs:enumeration value="Turkish"/>
				<xs:enumeration value="Twi"/>
				<xs:enumeration value="Wolof"/>
				<xs:enumeration value="Xhosa"/>
				<xs:enumeration value="Yoruba"/>
				<xs:enumeration value="Zulu"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:group name="cobrand">
		<xs:sequence>
			<xs:element ref="company" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="product" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>
	<xs:element name="company" type="notempty"/>
	<xs:element name="product" type="notempty"/>
	<xs:element name="abstract" type="notempty"/>
	<xs:element name="notes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="note" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="note">
		<xs:complexType mixed="true">
			<xs:attribute name="type" use="required"/>
			<xs:attribute name="contentlabel" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="object_citations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="object_citation" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="object_citation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="citation_source" minOccurs="0"/>
				<xs:element ref="citsource_date"  minOccurs="0"/>
				<xs:element ref="citsource_pagination" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="citorder" type="xs:integer"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="citation_source" type="notempty"/>
	<xs:element name="citsource_date" type="notempty"/>
	<xs:element name="citsource_pagination" type="notempty"/>
	<xs:element name="scantype">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="scansource" maxOccurs="unbounded"/>
				<xs:element ref="sourceid" maxOccurs="unbounded"/>
				<xs:element ref="colourdepth"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="scansource">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="hardcopy"/>
				<xs:enumeration value="microfilm"/>
				<xs:enumeration value="digitalfile"/>
				<xs:enumeration value="mixed"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="sourceid" type="notempty"/>
	<xs:element name="colourdepth">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="GS"/>
				<xs:enumeration value="CL"/>
				<xs:enumeration value="BW"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!--Zoning structure-->
	<xs:element name="pagezones">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="zone" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--Elements for zoning structure-->
	<xs:element name="zone">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="page_ref"/>
				<xs:element ref="zone_location"/>
				<xs:element ref="content" minOccurs="0"/>
				<xs:element ref="feature_details" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="header"/>
						<xs:enumeration value="text"/>
						<xs:enumeration value="feature"/>
						<xs:enumeration value="caption"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="sequence" use="required"/>
		</xs:complexType>
	</xs:element>
	<!--Elements for zone parent-->
	<xs:element name="page_ref">
		<xs:complexType mixed="true">
			<xs:attribute name="layout" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="r"/>
						<xs:enumeration value="v"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="zone_location">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="zonecoords"/>
				<xs:element ref="display_pagenumber"/>
				<xs:element ref="page_sequence"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="content">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="word" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="feature_details">
		<xs:annotation>
			<xs:documentation>This field is compulsory for all zones with type "feature"</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="category"/>
				<xs:element ref="caption" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="credit" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--Elements for zone location parent-->
	<xs:element name="zonecoords">
		<xs:complexType>
			<xs:attribute name="uly" type="xs:integer" use="required"/>
			<xs:attribute name="ulx" type="xs:integer" use="required"/>
			<xs:attribute name="lry" type="xs:integer" use="required"/>
			<xs:attribute name="lrx" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="display_pagenumber" type="notempty"/>
	<xs:element name="page_sequence" type="xs:integer"/>
	<!--Elements for content parent-->
	<xs:element name="word">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="notempty">
					<xs:attribute name="uly" type="xs:integer" use="required"/>
					<xs:attribute name="ulx" type="xs:integer" use="required"/>
					<xs:attribute name="lry" type="xs:integer" use="required"/>
					<xs:attribute name="lrx" type="xs:integer" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<!--Elements for image_details parent-->
	<xs:element name="category" type="featuretypes"/>
	<xs:element name="caption" type="notempty"/>
	<xs:element name="credit" type="notempty"/>
	<!--Body structure-->
	<xs:element name="bodytext">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="pandtables" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--Elements for bodytext parent-->
	<xs:group name="pandtables">
		<xs:choice>
			<xs:element ref="p"/>
			<xs:element ref="table"/>
		</xs:choice>
	</xs:group>
	<xs:element name="p"/>
	<xs:element name="table">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tr" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="border" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="tr">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="th" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="td" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="align" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="th">
		<xs:complexType mixed="true">
			<xs:attribute ref="align"/>
			<xs:attribute ref="valign"/>
			<xs:attribute name="colspan" use="optional"/>
			<xs:attribute name="rowspan" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="td">
		<xs:complexType mixed="true">
			<xs:attribute ref="align"/>
			<xs:attribute ref="valign"/>
			<xs:attribute name="colspan" use="optional"/>
			<xs:attribute name="rowspan" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:attribute name="align">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="left"/>
				<xs:enumeration value="center"/>
				<xs:enumeration value="right"/>
				<xs:enumeration value="justify"/>
				<xs:enumeration value="char"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="valign">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="top"/>
				<xs:enumeration value="middle"/>
				<xs:enumeration value="bottom"/>
				<xs:enumeration value="baseline"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
</xs:schema>
