cstore/gs4/libdata/eeb/eeb_handover.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by Proquest Info & Learning Ltd (Proquest Info & Learning Ltd) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="rec">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="itemid"/>
				<xs:element ref="subscription"/>
				<xs:element ref="rec_search"/>
				<xs:element ref="linksec" minOccurs="0"/>
				<xs:element ref="volumeimagefiles" minOccurs="0"/>
				<xs:element ref="itemimagefiles"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="itemid" type="xs:string"/>
	<xs:element name="subscription">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="unit"/>
				<xs:element ref="country"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="unit">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Collection1"/>
				<xs:enumeration value="Collection2"/>
				<xs:enumeration value="Collection3"/>
				<xs:enumeration value="Collection4"/>
				<xs:enumeration value="Collection5"/>
				<xs:enumeration value="Collection6"/>
				<xs:enumeration value="Collection7"/>
				<xs:enumeration value="Collection8"/>
				<xs:enumeration value="Collection9"/>
				<xs:enumeration value="Collection10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="country">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ned"/>
				<xs:enumeration value="fra"/>
				<xs:enumeration value="France"/>
				<xs:enumeration value="hin"/>
				<xs:enumeration value="den"/>
				<xs:enumeration value="ita"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="itemimagefiles">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="itemimage" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="itemimage">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="itemimagefile1"/>
				<xs:element ref="order"/>
				<xs:element ref="imagenumber"/>
				<xs:element ref="orderlabel" minOccurs="0"/>
				<xs:element ref="pagecontent" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="colour"/>
				<xs:element ref="pagetype" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="itemimagefile1" type="xs:string"/>
	<xs:element name="order" type="xs:string"/>
	<xs:element name="orderlabel"/>
	<xs:element name="pagecontent"/>
	<xs:element name="pagetype" type="xs:string"/>
	<xs:element name="imagenumber" type="xs:string"/>
	<xs:element name="colour">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="colour"/>
				<xs:enumeration value="monochrome"/>
				<xs:enumeration value="monochromeFG1"/>
				<!--Is this correct?-->
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="volumeimagefiles">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="volumeimage" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="volumeimage">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="volumeimagefile"/>
				<xs:element ref="order"/>
				<xs:element ref="imagenumber"/>
				<xs:element ref="orderlabel" minOccurs="0"/>
				<xs:element ref="pagecontent" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="colour"/>
				<xs:element ref="pagetype" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="volumeimagefile" type="xs:string"/>
	<xs:element name="rec_search">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pqid"/>
				<xs:element ref="title"/>
				<xs:element ref="alt_title" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="uniform_title" minOccurs="0"/>
				<xs:element ref="author_main"/>
				<xs:element ref="author_other" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="aut_cerl" minOccurs="0"/>
				<xs:element ref="aut_other_cerl" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="startdate" minOccurs="0"/>
				<!--Occurence check-->
				<xs:element ref="enddate" minOccurs="0"/>
				<!--Occurence check-->
				<xs:element ref="displaydate" minOccurs="0"/>
				<!--Occurence check-->
				<xs:element ref="imprint" minOccurs="0"/>
				<xs:element ref="publisher_printer" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="place_of_publication" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="pop_cerl" minOccurs="0"/>
				<xs:element ref="country_of_publication" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cop_cerl" minOccurs="0"/>
				<xs:element ref="pub_cerl" minOccurs="0"/>
				<xs:element ref="size" minOccurs="0"/>
				<xs:element ref="pagination" minOccurs="0"/>
				<xs:element ref="pages" minOccurs="0"/>
				<xs:element ref="bibliographic_reference" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="shelfmark"/>
				<xs:element ref="general_note" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="content_note" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="edition_note" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="section_note" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="page_detail_note" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="incipit" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="explicit" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="source_library"/>
				<xs:element ref="source_collection" minOccurs="0"/>
				<xs:element ref="illustrations" minOccurs="0"/>
				<xs:element ref="subject" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="classification1" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="language" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="commentcode" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ustc_number" minOccurs="0"/>
				<xs:element ref="ustc_link" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="pqid" type="xs:string"/>
	<xs:element name="title" type="xs:string"/>
	<xs:element name="alt_title" type="xs:string"/>
	<xs:element name="uniform_title" type="xs:string"/>
	<xs:element name="author_main" type="AuthorElements"/>
	<xs:element name="author_isni" type="xs:string"/>
	<xs:element name="author_viaf" type="xs:string"/>
	<xs:element name="author_other" type="AuthorElements"/>
	<xs:complexType name="AuthorElements">
		<xs:sequence>
			<xs:element ref="author_name"/>
			<xs:element ref="author_corrected"/>
			<xs:element ref="author_uninverted" minOccurs="0"/>
			<!--Check occurence-->
			<xs:element ref="lionid" minOccurs="0"/>
			<xs:element ref="author_isni" minOccurs="0"/>
			<!--New addition-->
			<xs:element ref="author_viaf" minOccurs="0"/>
			<!--New addition-->
		</xs:sequence>
	</xs:complexType>
	<xs:element name="author_name" type="xs:string"/>
	<xs:element name="author_corrected" type="xs:string"/>
	<xs:element name="author_uninverted" type="xs:string"/>
	<xs:element name="lionid" type="xs:integer"/>
	<xs:element name="aut_cerl">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="aut_cerl_mainentry"/>
				<xs:element ref="source"/>
				<xs:element ref="aut_cerl_variant" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="aut_cerl_mainentry" type="xs:string"/>
	<xs:element name="source" type="xs:string"/>
	<xs:element name="aut_cerl_variant" type="xs:string"/>
	<xs:element name="aut_other_cerl">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="author_corrected"/>
				<xs:element ref="lionid" minOccurs="0"/>
				<xs:element ref="aut_other_cerl_mainentry"/>
				<xs:element ref="other_source"/>
				<xs:element ref="aut_other_cerl_variant" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="aut_other_cerl_mainentry" type="xs:string"/>
	<xs:element name="other_source" type="xs:string"/>
	<xs:element name="aut_other_cerl_variant" type="xs:string"/>
	<xs:simpleType name="eightDigitDate">
		<xs:restriction base="xs:unsignedInt">
			<xs:totalDigits value="8"/>
			<xs:minInclusive value="00000001"/>
			<xs:maxInclusive value="99999999"/>
			<xs:pattern value="[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="startdate" type="eightDigitDate"/>
	<xs:element name="enddate" type="eightDigitDate"/>
	<xs:element name="displaydate" type="xs:string"/>
	<xs:element name="imprint" type="xs:string"/>
	<xs:element name="publisher_printer" type="xs:string"/>
	<xs:element name="place_of_publication" type="xs:string"/>
	<xs:element name="pop_cerl">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pop_cerl_mainentry"/>
				<xs:element ref="pop_cerl_variant" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="pop_cerl_mainentry" type="xs:string"/>
	<xs:element name="pop_cerl_variant" type="xs:string"/>
	<xs:element name="country_of_publication">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Argentina"/>
				<xs:enumeration value="Austria"/>
				<xs:enumeration value="Belgium"/>
				<xs:enumeration value="Czech Republic"/>
				<xs:enumeration value="Denmark"/>
				<xs:enumeration value="England"/>
				<xs:enumeration value="United Kingdom"/>
				<xs:enumeration value="France"/>
				<xs:enumeration value="Finland"/>
				<xs:enumeration value="Germany"/>
				<xs:enumeration value="Italy"/>
				<xs:enumeration value="Malta"/>
				<xs:enumeration value="Netherlands"/>
				<xs:enumeration value="Poland"/>
				<xs:enumeration value="Portugal"/>
				<xs:enumeration value="Scotland"/>
				<xs:enumeration value="Spain"/>
				<xs:enumeration value="Slovakia"/>
				<xs:enumeration value="Sweden"/>
				<xs:enumeration value="Switzerland"/>
				<xs:enumeration value="Unknown"/>
				<xs:enumeration value="Romania"/>
				<xs:enumeration value="Ireland"/>
				<xs:enumeration value="Iceland"/>
				<xs:enumeration value="Norway"/>
				<xs:enumeration value="Luxembourg"/>
				<xs:enumeration value="Bohemia"/>
				<xs:enumeration value="Not known"/>
				<xs:enumeration value="Turkey"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="cop_cerl">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cop_cerl_mainentry"/>
				<xs:element ref="cop_cerl_variant" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cop_cerl_mainentry" type="xs:string"/>
	<xs:element name="cop_cerl_variant" type="xs:string"/>
	<xs:element name="pub_cerl">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pub_cerl_mainentry"/>
				<xs:element ref="source" minOccurs="0"/>
				<!--Should this be 0?-->
				<xs:element ref="pub_cerl_variant" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="pub_cerl_mainentry" type="xs:string"/>
	<xs:element name="pub_cerl_variant" type="xs:string"/>
	<xs:element name="size" type="xs:string"/>
	<xs:element name="pagination" type="xs:string"/>
	<xs:element name="pages" type="xs:string"/>
	<xs:element name="bibliographic_reference" type="xs:string"/>
	<xs:element name="shelfmark" type="xs:string"/>
	<xs:element name="general_note" type="xs:string"/>
	<xs:element name="content_note" type="xs:string"/>
	<xs:element name="edition_note" type="xs:string"/>
	<xs:element name="section_note" type="xs:string"/>
	<xs:element name="page_detail_note" type="xs:string"/>
	<xs:element name="incipit" type="xs:string"/>
	<xs:element name="explicit" type="xs:string"/>
	<xs:element name="source_library" type="xs:string"/>
	<xs:element name="source_collection" type="xs:string"/>
	<xs:element name="illustrations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="illustration" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="illustration" type="xs:string"/>
	<xs:element name="linksec">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="link" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="link">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="linktitle"/>
				<xs:element ref="linkid"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="linktitle" type="xs:string"/>
	<xs:element name="linkid" type="xs:string"/>
	<xs:element name="classification1" type="xs:string"/>
	<!--<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Academic dissertation"/>
				<xs:enumeration value="Adages, aphorisms, emblem books, jests, proverbs"/>
				<xs:enumeration value="Agriculture, viticulture, texts on hunting, veterinary science"/>
				<xs:enumeration value="Art and architecture"/>
				<xs:enumeration value="Astrology and cosmography"/>
				<xs:enumeration value="Bibles (including parts)"/>
				<xs:enumeration value="Book industry, catalogues and inventories"/>
				<xs:enumeration value="Calendars, Almanacs &amp; Prognostications"/>
				<xs:enumeration value="Classical Authors"/>
				<xs:enumeration value="Courtesy, civil conversation, etiquette, sumptuary"/>
				<xs:enumeration value="Culinary arts"/>
				<xs:enumeration value="Dialectics and rhetoric"/>
				<xs:enumeration value="Dictionaries, vocabularies, phrase books, instruction in foreign languages"/>
				<xs:enumeration value="Discourses on government &amp; political theory"/>
				<xs:enumeration value="Drama"/>
				<xs:enumeration value="Economics"/>
				<xs:enumeration value="Educational Books"/>
				<xs:enumeration value="Funeral Orations"/>
				<xs:enumeration value="Heraldic Works &amp; genealogies"/>
				<xs:enumeration value="History and Chronicles"/>
				<xs:enumeration value="Jurisprudence"/>
				<xs:enumeration value="Linguistics and philology"/>
				<xs:enumeration value="Literature"/>
				<xs:enumeration value="Marriage, the debate on women"/>
				<xs:enumeration value="Medical Texts"/>
				<xs:enumeration value="Military handbooks"/>
				<xs:enumeration value="Music"/>
				<xs:enumeration value="News books"/>
				<xs:enumeration value="Ordinances, edicts, proclamations"/>
				<xs:enumeration value="Philosophy and Morality"/>
				<xs:enumeration value="Poetry"/>
				<xs:enumeration value="Political tracts"/>
				<xs:enumeration value="Religious"/>
				<xs:enumeration value="Science and mathematics"/>
				<xs:enumeration value="Travel, topography, maps and navigational manuals"/>
				<xs:enumeration value="Wedding pamphlets"/>
				<xs:enumeration value="Witchcraft, demonology, occult writings"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>-->
	<xs:element name="subject" type="xs:string"/>
	<xs:element name="language">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Arabic"/>
				<xs:enumeration value="Armenian"/>
				<xs:enumeration value="Catalan"/>
				<xs:enumeration value="Chaldean"/>
				<xs:enumeration value="Czech"/>
				<xs:enumeration value="Danish"/>
				<xs:enumeration value="Dutch"/>
				<xs:enumeration value="English, Old (ca. 450-1100)"/>
				<xs:enumeration value="English"/>
				<xs:enumeration value="French, Middle"/>
				<xs:enumeration value="Middle French"/>
				<xs:enumeration value="French, Middle (ca.1400-1600)"/>
				<xs:enumeration value="French"/>
				<xs:enumeration value="Frisian"/>
				<xs:enumeration value="Georgian"/>
				<xs:enumeration value="German, Old High (ca.750-1050)"/>
				<xs:enumeration value="German, Middle High (ca. 1050-1500)"/>
				<xs:enumeration value="German"/>
				<xs:enumeration value="Greek, Ancient"/>
				<xs:enumeration value="Greek, Modern"/>
				<xs:enumeration value="Greek"/>
				<xs:enumeration value="Hebrew"/>
				<xs:enumeration value="Icelandic"/>
				<xs:enumeration value="Italian"/>
				<xs:enumeration value="Latin"/>
				<xs:enumeration value="Luxembourg"/>
				<xs:enumeration value="Multiple languages"/>
				<xs:enumeration value="Polish"/>
				<xs:enumeration value="Portuguese"/>
				<xs:enumeration value="Samaritan"/>
				<xs:enumeration value="Spanish"/>
				<xs:enumeration value="Swedish"/>
				<xs:enumeration value="Syriac"/>
				<xs:enumeration value="Syrian"/>
				<xs:enumeration value="Turkish"/>
				<xs:enumeration value="Undetermined"/>
				<xs:enumeration value="None"/>
				<xs:enumeration value="Miscellaneous languages"/>
				<xs:enumeration value="Ancient Greek"/>
				<xs:enumeration value="Occitan"/>
				<xs:enumeration value="Old Occitan"/>
				<xs:enumeration value="French Dialect"/>
				<xs:enumeration value="Modern Greek"/>
				<xs:enumeration value="Ethiopic"/>
				<xs:enumeration value="Malay"/>
				<xs:enumeration value="Tamil"/>
				<xs:enumeration value="Norwegian"/>
				<xs:enumeration value="Breton"/>
				<xs:enumeration value="Chinese"/>
				<xs:enumeration value="Basque"/>
				<xs:enumeration value="Greek, Ancient (to 1453)"/>
				<xs:enumeration value="French, Middle (ca. 1300-1600)"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="commentcode" type="xs:string"/>
	<xs:element name="ustc_number" type="xs:string"/>
	<xs:element name="ustc_link" type="xs:string"/>
</xs:schema>
